/* variables */

:root {
    --main-bg-color: #f1f1f1;
    --alternate-bg-color: #B09175;


    --vertical-spacer: 20px;
    --padder: 3%;
    
    scroll-behavior: smooth;


    

}
/* global defaults*/

html {

}

body {
    background-color: var(--main-bg-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: #777777;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* headings and type */

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;  
}

h1 {
    font-size: 70px;
    color: #b09175; 
}
    
h2 {
    font-size: 50;
    color:#b09175;
}

h3 {
    font-size: 35;
    color: #edc444
}

p {
color: #b09175;
    
}

.emphasised-text {
    font-style: italic;
}
    
/* layouts */

.imagecontainer {

    display: flex;
    justify-content: center;
    align-items: center;
}

/* working on putting images in, need to have another look at alignment */

.imagecontainer img {

    object-fit: cover;

    width: 30%;
    height: 5%;
}

.content {


    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 5%;
    padding-right: 5%;

}

.border {


    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/* header */

/* my previous background colour was b09175 */

header {    
    
    background-color: white;

    padding-top: 250px;
    padding-bottom: 205px;

    text-align: center;
    /* color: #f1f1f1; */

    /* Hi Jess - have made this your header colour so you can read it now.  It was really light text on a */
    color: #b09175;
}

header a {
    text-decoration: none;
}

.header-logo img {
    max-width: 100px;
}

.header-heading {
    font-size: 32px;
}

.header-sub-heading {
    font-size: 20px;
}

@media screen and (min-width: 800px) {

    header {
text-align: left;

    }

    .header-heading {
        font-size: 56px;
    }
   
    .header-logo img {
        max-width: 200px;
    }
    header .content {
        display: grid;
        grid-template-columns: 200px 200px;
    }
    .header-text {

        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}

header h1 {
    margin-top: 0;
    text-align: center
}
/* navigation */

.navigation {
   /*  position: sticky;
    top: 0; */

    background-color: var(--alternate-bg-color);
    
}

.navigation .content{
    margin-top: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
}

.navigation a {
    color: var(--main-bg-color);
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}







/* buttons */

.back-top a {

    background-color: var(--alternate-bg-color);
    color: var(--main-bg-color);
    padding:var(--padder)

}

/* footer */
footer {

    padding-top: var(--vertical-spacer);
    padding-bottom: var(--vertical-spacer);
    background-color: #b09175;
    text-align: center;


}
/* you'd set a color on p, which overrides this so have made this more specific- CSS can get confusing with what overides what.

See this for explanation:  https://bit.ly/2V4ODL9

*/
footer p {
    color: var(--main-bg-color);
}
    



/* modules */

.news-component {
    border-width: 1px;
    border-style: solid;
    border-color: black;

    padding: var(--padder);

    margin-bottom: var(--vertical-spacer);

    overflow: hidden;


}

.news-component h2 {
    color: red;
}

.news-component img {
float: left;
margin-right: 20px;
}


.news-component-offset {
    background-color: #999;
}

.news-component-offset img {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.news-component-image-only {
    display: flex;
    justify-content: center;     
}

.news-component-image-only img {
    margin-right: 0
    float: none;
}

.news-component-columns {

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
 
@media-screen and (min-width: 800px)

.news-component-columns{
    grid-template-columns: 1fr 1fr;
    background-color: 
}
 
