/* variables */
/* global defaults*/

body {
    background-color: #f1f1f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: #777777;
}
/* headings and type */

h1 {
    font-size: 70px;
    color: #b09175; 
     }
    
     h2 {
         font-size: 50;
         color: #e9b49f;
     }
    
     h3 {
         font-size: 35;
         color: #edc444
     }

     p {
        color: grey;
        }
    
/* layouts */
/* header */
/* navigation */
/* footer */
/* modules */



 

